.calculator-button {
  -fx-background-color: #3498db;
  -fx-text-fill: white;
  -fx-font-size: 16px;
}
.calculator-button:hover {
  -fx-background-color: #2980b9;
}

.calculator-grid {
  -fx-background-color: #aa49df;
}


.number-label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #3498db;
  -fx-padding: 5 0 5 0; 
  -fx-background-color: #E6F7FF;
  -fx-background-radius: 5px;
}


.result-label {
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-text-fill: #0079FF;
  -fx-background-color: #E6F7FF;
  -fx-background-radius: 5px;
  -fx-effect: dropshadow(gaussian, #000000, 5, 0, 0, 1);
  -fx-padding: 5px;
}

